@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

.text-justify {
  text-align: justify;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /*1rem=10px*/
}

body {
  background-image: url(../images/background.png);
  background-repeat: round;
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  color: black;
  font-size: 2.3rem;
  padding-top: 20px;
}

p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  padding-top: 20px;
}

footer {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

#header {
  width: 100%;
  grid-area: header;
}
#header img {
  width: 100%;
}

@keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.textAlpha {
  animation-name: textAlpha;
  animation-duration: 3s;
}

#mainNav {
  grid-area: nav;
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 100;
}
#mainNav img {
  width: 175px;
}
#mainNav ul {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
#mainNav ul li {
  list-style: none;
  margin-top: 10px;
}
#mainNav ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
#mainNav ul li ahover {
  color: black;
  font-weight: 600;
}

.positionSticky {
  position: sticky;
  top: 0;
  left: 0;
}

@media (min-width: 576px) {
  #mainNav img {
    width: 200px;
  }
}
@media (min-width: 768px) {
  #mainNav {
    display: flex;
  }
  #mainNav img {
    width: 250px;
  }
  #mainNav ul {
    display: flex;
    flex-direction: row;
  }
  #mainNav ul li {
    padding: 0px 15px;
    margin-top: 40px;
  }
  #mainNav ul li a {
    font-size: 1.35rem;
  }
}
@media (min-width: 1024px) {
  #mainNav img {
    width: 350px;
  }
  #mainNav ul li a {
    font-size: 1.7rem;
    background: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  #mainNav ul li ahover {
    color: black;
    font-weight: 600;
    background-size: 100% 2px;
    cursor: pointer;
  }
}
.article__h1--index {
  width: 65%;
  margin: 50px auto 0px auto;
  padding: 15px 30px;
  border: solid black 2px;
  overflow: auto;
}

.border-aside {
  width: 65%;
  margin-bottom: 50px;
  padding: 15px 30px;
  border: solid black 2px;
  overflow: auto;
}

.contenedor {
  display: grid;
  grid-template-areas: "nav" "header" "intro" "aside" "footer";
}

#intro {
  grid-area: intro;
}

#aside {
  grid-area: aside;
}

@media (min-width: 1024px) {
  .contenedor {
    grid-template-areas: "nav nav" "header header" "intro aside" "footer footer";
  }
  .article__h1--index {
    border: none;
    padding: 0;
  }
  .border-aside {
    border: black solid 3px;
    font-size: 1.6rem;
    padding: 20px;
  }
  .article-padding {
    padding-top: 30px;
    margin: 50px;
    width: 90%;
  }
}
.articleDisenos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
}

.h1-disenos {
  text-align: center;
  padding: 50px 0px;
  margin: 0px 100px;
  border-bottom: black solid 3px;
}

.h3-disenos {
  text-align: center;
  font-size: 2.5rem;
}

.carouselHeightWidth {
  width: 65%;
}

.carouselHeightWidth2 {
  width: 65%;
  margin: 50px 0;
}

.carouselHeightWidth3 {
  width: 65%;
  margin: 50px 0;
  padding-bottom: 100px;
}

.carouselImage {
  height: 225px;
  width: 300px;
  object-fit: cover;
}

@media (min-width: 576px) {
  .carouselImage {
    height: 225px;
    width: 300px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .carouselImage {
    height: 450px;
    width: 600px;
    object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .carouselImage {
    height: 525px;
    width: 700px;
    object-fit: cover;
  }
}
.article__h3--servicios {
  width: 75%;
  margin: 50px auto;
  padding: 20px 30px;
  overflow: auto;
}

.main__acercademi {
  width: 65%;
  margin: 50px auto 0px auto;
  padding: 15px 30px;
  overflow: auto;
}

.aside__acercademi {
  width: 80%;
  margin: 50px auto 0px auto;
  padding: 30px;
  display: flex;
  align-content: center;
}

.section__form {
  width: 50%;
  font-size: 1.4rem;
  text-align: left;
  margin-left: 10px;
  padding-top: 20px;
}

.iframe__contacto {
  padding: 15px 0px 15px 15px;
}

#mapa {
  grid-area: mapa;
  margin-left: 10px;
}

#formulario {
  grid-area: formulario;
}

.contenedorContacto h1 {
  text-align: center;
  padding: 20px 0px;
}

.contenedorContacto {
  display: grid;
  grid-template-areas: "nav" "header" "formulario" "mapa" "footer";
}

@media (min-width: 768px) {
  .contenedorContacto {
    grid-template-areas: "nav nav" "header header" "formulario mapa" "footer footer";
  }
  #formulario {
    margin: 40px 0px 40px 30px;
  }
  #mapa {
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    justify-content: right;
  }
  .contenedorContacto h1 {
    text-align: left;
    margin-left: 10px;
  }
  #formulario section {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  #mapa iframe {
    width: 350px;
    height: 300px;
  }
  #formulario section {
    width: 500px;
  }
}
#footer {
  grid-area: footer;
}
#footer img {
  width: 62px;
}
#footer h2 {
  padding-top: 13px;
  color: white;
}

/*# sourceMappingURL=main.css.map */
