*{  
    padding: 0;
    margin: 0;
    
}

html{
    font-size: 62.5%;   /*1rem=10px*/
}

body{
    background-image: url(../images/background.png);
    background-repeat: round;
    background-attachment: fixed;
    background-size: $w-100;
    font-family: $mainFont;
    overflow-x: hidden;
    
}


h1{
    @include texto($black,$textLg,$textBold);

}

h3{
    @include texto($black,2.3rem,$textBold);
    padding-top: 20px;
}

p{
    @include texto($black,$textMd,$textLight);
    line-height: 3rem;
    padding-top: 20px;
}



//header
#header{
    width: $w-100;
    grid-area: header;
    img{
        width: $w-100;
    };
}

//animaciones
@keyframes textAlpha{
    from{opacity: 0;}
    to{opacity: 1;}
}

.textAlpha{
    animation-name: textAlpha;
    animation-duration: 3s;
}

