*{  
    padding: 0;
    margin: 0;
    
}

html{
    font-size: 62.5%;   /*1rem=10px*/
}

body{
    background-image: url(../images/background.png);
    background-repeat: round;
    background-attachment: fixed;
    background-size: $w-100;
    font-family: $mainFont;
    overflow-x: hidden;
    
}


h1{
    color: $black;
    font-family: $mainFont;
    font-size: $textLg;
    font-weight: $textBold;
   
}
h3{
    color: $black;
    font-size: 2.3rem;
    padding-top: 20px;
    

}
p{
    color: $black;
    font-family: $mainFont;
    font-size: $textMd;
    line-height: 3rem;
    font-weight: $textLight;
    padding-top: 20px;
}
footer{
    background-color: $black;
    font-family: $mainFont;
}

//header
#header{
    width: $w-100;
    grid-area: header;
    img{
        width: $w-100;
    };
}

//animaciones
@keyframes textAlpha{
    from{opacity: 0;}
    to{opacity: 1;}
}

.textAlpha{
    animation-name: textAlpha;
    animation-duration: 3s;
}

