
#footer{
    grid-area: footer;
    img{
        width: 62px;
    }
    h2{
        padding-top: 13px;
        color: map-get($map:$gamaGrises, $key:'uno');
    }
}

footer{
    background-color: map-get($map:$gamaGrises, $key:'ocho');
    font-family: $mainFont;
}